{{#article}}
<h1>{{name}}</h1>
<p>Published {{published}}</p>
{{!-- maybe style for the image needs to stay in <p> --}}
{{!-- <p><img src="/images/{{image}}" alt=""></p> --}}
<img src="/images/{{image}}" alt="">
{{body}}
{{/article}}